*{
    margin: 0;
    padding: 0;
}
.menu-container{
    display: flex;
    background-color: grey;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}
.menus ul{
    display: flex;
    font-size: 17px;
    gap: 15px;
    list-style: none;
    font-style: italic;
}
.banner-container{
    height: 100vh;
    background-image: url('./asset/image/background.jpg'),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}
.primary{
    color: tomato;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.description{
    color: white;
    padding: 10px;
    margin: auto;
    max-width: 50%;
}
.btn{
    padding: 12px 20px;
    border: none;
}
.btn-color{
    background-color: tomato;
    color: white;
}
.service-container{
    height: 100vh;
    background-image: url('./asset/image/footer-bg.png'),linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.icon{
    width: 70px;
}
.box{
    text-align: center;
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: #000;
    border-radius: 5px;
    /* box-shadow: 4px 4px 8px gray; */
}
.service-description{
    max-width: 50%;
}
.box-row{
    display: flex;
    gap: 3px;
    margin-top: 3px;
}
.author-img{
    width: 70px;
    border-radius: 35px;
}
.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profile{
    display: flex;
    align-items: center;
    gap: 5px;
}
.btn-round{
    color: tomato;
    background-color: white;
    border-radius: 30px;
}
.author-btn{
    border-left: 2px solid tomato;
    padding-left: 20px;
}
.number{
    display: flex;
    gap: 20px;
    align-items: center;
}
.appoinment-container{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: tomato;
    border-radius: 20px;
    margin-top: -50px;
    align-items: center;
}
.author-number{
    font-size: 35px;
}
.blog-title{
    margin: 50px;
    text-align: center;
    font-size: 55px;
}
.blog-title-sec{
    color: tomato;
}
.blog-description{
    text-align: center;
}
.blog-cards{
    background-image: url('./asset/image/blog-3.jpg'),linear-gradient(rgba(14,14,14,0.5),rgba(14,14,14,0.5));
    background-blend-mode: color-burn;
    padding: 30px 0;
    margin: 20px 0;
}
.card{
    width: 220px;
    height: 350px;
    box-shadow: 4px 4px 4px rgb(93, 16, 209);
    border-radius: 10px;
    background-color: white;

}
.blog-img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card-title{
    margin: 10px 0;
}
.blog-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}